@import "tailwindcss";
@plugin "tailwind-scrollbar";


:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #030712;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glowing-border {
  box-shadow: 0 0 15px #ffffff; /* Outer and inner glow */
  transition: box-shadow 0.3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

